body
{
    margin: 0;
    padding: 0;
}
section
{
    width: 100;
    height: 650;
    background:url(na.jpg);
    background-size:cover;
    position: relative;
    overflow: hidden;
}
.overlay

{
position:absolute;
top:0o;
left: 0;
width: 100%;
height: 100%;
background:rgba(0, 0, 255, 7) ;
}